<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta content="email=no" name="format-detection"/>
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<meta name="appToken" content="{{.token}}" />
	<meta name="packageId" content="{{.PackageId}}" />
	<title>贷款攻略</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/newReset.css"/>
	<style type="text/css">
		#container{ width:100%; height:auto; background:#fff; }
		#container>img{ width:100%; height:auto; }
	</style>
</head>
<body>
	<div id="container">
		<img src="../../static/img/package8/loanloanStrategy.png" />
	</div>
</body>
</html> 