<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta content="email=no" name="format-detection"/>
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<meta name="appToken" content="{{.token}}" />
	<meta name="packageId" content="{{.PackageId}}" />
	<title>常见问题</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/newReset.css"/>
	<style type="text/css">
		#container{ width:100%; height:auto; background-color:#f7f7f7; }
		#container ul{ width:100%; height:auto; overflow:auto; }
		#container ul li{ padding:0.6rem; font:0.52rem/0.8rem "微软雅黑"; color:#585858; background:#fff; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea; margin-top:0.4rem; }
		#container ul li h1{ font:0.6rem/0.9rem "微软雅黑"; color:#141414; overflow:auto; }
		#container ul li h1 img{ width:0.9rem; height:auto; }
		#container ul li h1 span{ float:right; width:12.4rem; }
		#container ul li div{ display:none; margin-top:0.5rem; }
		#container ul li,.divDisplay div{ display:block !important; margin-top:0.5rem; }
		#container ul li div p{ text-indent:1em; }
	</style>
</head>
<body>
	<div id="container">
    	<ul>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>1.怎样知道自己贷款审核通过了没？</span>
    			</h1>
    			<div>
    				<p>贷款通过会有短信提示，按短信提示操作就可以，打电话给客服人员并不能加速你的审核进度，别做无用功。</p>
    				<p>如果您申请的是“花无忧”则可以直接看到审核状态，如果您申请的是其他平台，登录相应的平台也可以查看到审核结果。</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>2.审核需要多久？</span>
    			</h1>
    			<div>
    				<p>不同平台的审核方式不同，审核时间没有确实的期限，大部分都在1~3天。</p>
    				<p>审核的顺序一般是：风控>电审>信审>放款。</p>
    				<p>信用良好的用户审核会比较快。</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>3.怎样还款？</span>
    			</h1>
    			<div>
    				<p>下载已放款产品APP，登录账号，在对应页面完成还款流程即可。</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>4.怎么做能保证下款？提高贷款成功率？</span>
    			</h1>
    			<div>
    				<p>另外这些也很重要：</p>
    				<p>1）填写真实的个人信息；</p>
    				<p>2）手机权限设置，允许软件获取当前位置；</p>
    				<p>3）尽量保持电话畅通。</p>
    				<p>也可以再小微这里购买私人贷款服务，保证能下款喔！（1.3版本暂未上线）</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>5.为什么申请被拒？为什么贷款没通过？</span>
    			</h1>
    			<div>
    				<p>申请被拒的原因有很多，每个小贷平台的风控都不一样，可以在这里查询您的网贷征信记录哦！</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>6.网黑能借吗？</span>
    			</h1>
    			<div>
    				<p>如果您不幸成为黑户，那么贷款肯定不会太顺利，但仍有一些利息比较高的贷款机构会下款，如果逾期很多次，那基本所有的贷款都会被拒。</p>
    				<p>小微建议，先还清欠款，等征信“白”了，再来贷款。</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>7.如何在微融上办理信用卡？</span>
    			</h1>
    			<div>
    				<p>点击首页“办信用卡”选择办卡银行>选择信用卡>确认提交>填写资料。业务员稍后就会联系您。</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" style="margin-top:0.4rem;" />
    				<span>8.如何使用平台的“方案定制”功能智能匹配，快速筛选出适合您的产品。</span>
    			</h1>
    			<div>
    				<p>首先填写贷款金额>期限>填写个人资信>提交，填写的资料越真实，推荐的产品通过率越高，如果推荐没有结果，小微建议在贷款页进行平台筛选，这里也能筛选到合适您的平台。</p>
    			</div>
    		</li>
    		<li>
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>9.有额度为什么贷不了？ </span>
    			</h1>
    			<div>
    				<p>额度是根据您认证的资信计算出来的，您的资信可以在微融的合作平台上申请借款，额度越高申请过审的几率越大。</p>
    			</div>
    		</li>
    		<li style="border-bottom:1px solid #eaeaea; margin-bottom:0.4rem;">
    			<h1>
    				<img src="../../static/img/package2/turnrightBlue.png" />
    				<span>10.名词解释：额度、征信、芝麻分</span>
    			</h1>
    			<div>
    				<p>额度：即小贷平台根据自身风控对用户信息进行审核后，给用户的可提现金额数。您认证的信息越多、越真实，额度也会得到相应的提升。</p>
    				<p>征信：征信分为网贷征信和央行征信。</p>
    				<p>网贷征信，风控机构根据个人网金融消费记录建立起来的个人信用档案，再为各大小贷平台提供信息服务，方便平台对用户进行评估，节省信贷审核时间和精力。也就是网贷信用越好的用户，额度越大审核时间越快。</p>
    				<p>央行征信，主要用于各大银行之间，由这个专门的机构给您建立一个“信用档案”（即个人信用报告），再提供给各家银行使用。这种银行之间通过第三方机构共享信用信息的活动就是征信，为的是提高效率，节省时间，快点儿给您办事。有了征信机构的介入，有了信用报告，您在向银行借钱时，银行信贷员征得您的同意后，可以查查您的信用报告，再花点时间重点核实一些问题，便会很快告诉您银行是否提供给您借款。</p>
    				<p>芝麻分：是蚂蚁金服旗下独立的第三方征信机构，通过云计算、机器学习等技术客观呈现个人的信用状况，已经在信用卡、消费金融、融资租赁、酒店、租房、出行、婚恋、分类信息、学生服务、公共事业服务等上百个场景为用户、商户提供信用服务。一般小贷平台会将芝麻分作为用户贷款审核的标准，芝麻分在650以上的用户，大部分的小贷平台都能下款而且额度高。</p>
    			</div>
    		</li>
    	</ul>
	</div>
</body>
</html> 
<script type="text/javascript" src="../../static/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/lib/DataAlgorithm.js"></script>
<script type="text/javascript" src="../../static/js/package2/FAQ.js"></script>