<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<meta name="appToken" content="{{.token}}" />
	<title>拒贷返现活动规则</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/newReset.css"/>
	<style type="text/css">
		#container{ width:100%; height:100%; padding:0.64rem 0.68rem; box-sizing:border-box; background:#f7f7f7; overflow:hidden; }
		.main{ width:100%; height:100%; background:#fff; padding:1.2rem 0.8rem; box-sizing:border-box; border-radius:0.4rem; overflow:hidden; }
		.main p{ font:0.6rem/1rem "微软雅黑"; color:#2d2d2d; margin-bottom:0.2rem; }
	</style>
</head>
<body>
	<div id="container">
		<div class="main" id="main">
			<p>1.活动对象：首次完成注册用户活动奖励;</p>
			<p>2.在88元现金红包活动页面申请指定产品，若全未批复授信额度，微融贷款将通过现金红包的方式补偿88元;</p>
			<p>3.如何参与：</p>
			<p style="text-indent:1em; font:0.56rem/0.9rem '微软雅黑';">(1) 在活动页面，按要求申请指定网贷，保留注册及拒贷截图;</p>
			<p style="text-indent:1em; font:0.56rem/0.9rem '微软雅黑';">(2) 微信关注‘微云金融平台’提交，每周4(节假日顺延)公布中奖名单，每周20名。解释说明用户需为本页面首次注册申请用户，若发现恶意参与或作弊行为，微融贷款将取消活动资格，最终解释权归微融贷款所有。</p>
		</div>
	</div>
</body>
</html> 