<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<meta name="appToken" content="{{.token}}" />
	<title>贷款咨询服务协议</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/newReset.css"/>
	<style type="text/css">
		#container{ width:100%; height:100%; padding:0.25rem; box-sizing:border-box; background:#ccc; overflow:hidden; }
		.main{ width:100%; height:100%; background:#fff; padding:0.6rem; box-sizing:border-box; overflow:hidden; }
		.main>div{ padding-bottom:1.5rem; }
		.main h1{ font:0.64rem/1.3rem "黑体"; text-align:center; color:#000; }
		.main h2{ font:0.58rem/1.1rem "黑体"; text-align:left; color:#333; }
		.main p{ font:0.52rem/0.75rem "微软雅黑"; margin-bottom:0.2rem; }
	</style>
</head>
<body>
	<div id="container">
		<div class="main" id="main">
			<div>
				<h1>贷款咨询服务协议</h1>
				<h2>致：尊敬的用户</h2>
				<p style="text-indent:2em;">竭诚感谢您注册使用微融，很高兴为您提供金融信息服务！温馨提醒您在接受我司为您提供的金融信息服务前，仔细阅读以下信息内容，当您在基本信息认证页面完成填写内容并勾选“我阅读并同意《贷款咨询服务协议》”，即视为您对以下信息内容的充分理解及接受。</p>
				<p style="text-indent:2em;">用户因个人资金需求，特委托杭州微云金融信息服务有限公司（以下简称为“我司”）为用户制定融资方案（包含但不限于办理信用卡等形式），用户应积极配合我司选择的，符合用户意愿的资金方进行融资.</p>
				<p style="text-indent:2em;">现我司接受用户委托，经协商，用户与我司双方（以下简称“双方”）就下列问题取得一致，协议如下：</p>
				<h2>一、服务内容</h2>
				<p>1、我司保证其提供的所有资料及信息真实及合法。如有虚假，我司自行向资金方承担法律责任，用户不承担任何保证责任。同时在办理期间，用户要积极配合我司的工作，我司会根据用户自身条件推荐出与我司有深度战略合作的额度高、放款快的特殊渠道（以申请为准）。如果用户没有获得贷款，订金将会在15个工作日退还，咨询服务费不予退还。</p>
				<p>2、合同签订后，如我司发现用户征信及还款纪录存在不良情况或黑名单等情形，则我司有权暂时停止委托事项的办理，并通知用户。用户应在收到通知的3日内回复解决方案，否则，我司有权终止本合同，且不退还已支付服务费。</p>
				<p>3、用户应积极配合我司所提供的各项服务，如因用户不配合导致服务不能顺利进行（包含且不限于我司在连续2日内联系不上用户；用户拒绝与我司取得联系或不配合我司所提供的服务等），我司有权终止本协议，且不退还已支付定金及服务费。</p>
				<p>4、用户保证遵守履约承诺，本次委托为其本人意志体现。</p>
				<h2>二、委托服务费</h2>
				<p>1.用户需要预付咨询服务费199元（包含订金100元），用户贷款在500元以上的我司按照总金额的15%收取服务费（预付的199元除外），贷款1000元以上的部分我司按照总金额的20%收取服务费,用户需要在收到资金的12个小时内支付服务费用给我司,支付方式：我司指定方式收取。</p>
				<p>2.预付咨询服务费支付3个工作日内，我司可以为用户提供多平台服务，贷款单笔小于1000元，不再另收预付咨询服务费。</p>
				<h2>三、违约责任</h2>
				<p>用户应按本合同约定，及时支付服务费用，否则，用户除应按本合同第二条的约定支付服务费用外还应支付违约金。违约金按每日100元来计算，自逾期之日起至用户付清之日止，违约金上限不超过本次服务费用的总额。</p>
				<h2>四、争议解决条款</h2>
				<p>1、未尽事宜，双方应友好协商解决，协商不成的，任一方均应提请杭州仲裁委员会在杭州按简易程序仲裁解决。</p>
				<p>2、如发生诉讼或仲裁等情况的，用户自愿承担我司因其违约所产生的一切损失（包括但不限于催收费、诉讼费、仲裁费、律师费等相关费用）。</p>
				<h2>五、协议的终止</h2>
				<p>本合同自发生以下任一情形时终止：</p>
				<p>（1）本协议约定的委托事项完成，且用户付清服务费等相关费用；</p>
				<p>（2）经双方协商一致提前终止本协议；</p>
				<p>（3）一方根据本协议的约定解除本协议。</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/lib/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/lib/iscroll-min.js"></script>
	<script type="text/javascript">
		$(function(){
			//整个页面的滚动
			mainScroll();
			//阻止它默认事件
	        document.addEventListener("touchmove",function(e){
	            e.preventDefault();
	        });
			var mScroll;
			function mainScroll(){
			   	mScroll = new IScroll("#main",{
			   	   	preventDefault:true,
					scrollWheel:true,
					fadeScrollbar:true
			   	})
			}
		});
	</script>
</body>
</html> 