<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<meta name="appToken" content="{{.token}}" />
	<title>邀请规则</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/newReset.css"/>
	<style type="text/css">
		#container{ width:100%; height:100%; padding:0.64rem 0.68rem; box-sizing:border-box; background:#f7f7f7; overflow:hidden; }
		.main{ width:100%; height:100%; background:#fff; padding:1.2rem 0.8rem; box-sizing:border-box; border-radius:0.4rem; box-shadow:0 0 0.3rem #333; overflow:hidden; }
		.main p{ font:0.6rem/0.9rem "微软雅黑"; color:#2d2d2d; margin-bottom:0.2rem; }
	</style>
</head>
<body>
	<div id="container">
		<div class="main" id="main">
			<p>1.将二维码或链接分享给您的好友，好友注册成功并注册、下载一个贷款平台即算邀请成功;</p>
			<p>2.邀请成功一位好友完成所有步骤您可获得5元现金奖励，邀请成功两位好友能获得10元奖励;</p>
			<p>3.邀请奖励无上限，邀请越多好友，奖励越多;</p>
			<p>4.本次活动所能邀请的用户仅限微融首次注册的用户;</p>
			<p>5.若发现恶意刷奖，本公司有权扣除、清零或拒绝发放奖励;</p>
			<p>6.法律允许范围内，本活动最终解释权归微云金服所有。</p>
		</div>
	</div>
</body>
</html> 