<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="email=no" name="format-detection">
	<meta name="_xsrf" content="{{.xsrf_token}}" />
	<meta name="appToken" content="{{.token}}" />
	<title>微融付费会员服务协议</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/newReset.css"/>
	<style type="text/css">
		#container{ width:100%; height:100%; padding:0.25rem; box-sizing:border-box; background:#ccc; overflow:hidden; }
		.main{ width:100%; height:100%; background:#fff; padding:0.6rem; box-sizing:border-box; overflow:hidden; }
		.main>div{ padding-bottom:1.5rem; }
		.main h1{ font:0.64rem/1.3rem "黑体"; text-align:center; color:#000; }
		.main h2{ font:0.58rem/1.1rem "黑体"; text-align:left; color:#333; }
		.main p{ font:0.52rem/0.75rem "微软雅黑"; margin-bottom:0.2rem; }
	</style>
</head>
<body>
	<div id="container">
		<div class="main" id="main">
			<div>
				<h1>微融付费会员服务协议</h1>
				<h2>重要提示</h2>
				<p style="text-indent:2em;">欢迎使用微融付费会员（以下简称“付费会员”）服务，为了保障您的权益，请在使用付费会员服务之前，详细阅读此服务协议（以下简称“本协议”）所有内容。另外，微融不向未成年人提供会员服务。除非您已阅读并接受本协议所有条款，否则您无权使用付费会员服务。您对付费会员服务的购买和/或使用行为即视为您已阅读并同意接受本协议的约束。</p>
				<h2>第一条 服务协议的接受和修订</h2>
				<p>1.1 本协议内容包括协议正文《微融服务条款》、微云金融信息服务有限公司（以下简称“微云公司”）已经发布的或将来可能发布/更新的各类规则。所有规则均为本协议不可分割的组成部分，与协议正文具有同等法律效力，本协议正文与前述规则存在冲突的，以本协议正文为准。除另行明确声明外，您使用付费会员服务均受本协议约束。</p>
				<p>1.2 本协议及相关服务条款如由于业务发展需要进行修订的，微云公司将在微融平台公布。您可前往查阅最新版协议条款。在微云公司修改上述条款后，如果您不接受修改后的条款，您可以选择终止使用付费会员服务。您继续使用本服务的，将被视为已接受了修改后的协议。</p>
				<h2>第二条 定义</h2>
				<p>2.1 付费会员：指微云公司为您提供的网络增值服务，您在成为付费会员后可以依本协议享有一定的特权优惠或参加活动，具体服务内容以微云公司提供的为准。付费会员的所有权和运营权，以及付费会员制度和活动的制订权均归微云公司所有，微云公司在法律规定的范围内拥有解释权。</p>
				<p>2.2 “用户”或“您”：指享受微云公司提供的付费会员服务的个人或单一实体。</p>
				<h2>第三条 成为付费会员的程序</h2>
				<p>3.1 如您希望使用付费会员服务的，需先登录您的微融帐号，或注册微融帐号并登录。在成功登录微融帐号的基础上，申请开通付费会员服务。您在使用付费会员服务时登录的微融帐号是微云公司确认您身份的唯一依据。</p>
				<p>3.2 您可以在开通服务界面通过微云公司认可的支付方式完成支付来开通付费会员服务。您在开通服务时，应仔细核对帐号名称、开通服务类型与时长等具体信息。如因您个人原因造成充错帐号、开通错服务或时长，微云公司不予退还已收取的费用。</p>
				<p>3.3 付费会员均采用月结方式，月结日期为开通付费会员之日起的第31天，如果您未在月结日之前使用完相应特权，其将在月结日后到期（例如：会员每月拥有付费查询（不限次数）、付费获取新口子（不限次数）、领取POS机（限一个）的特权，如果31天内未使用完，则在月结日清零）。</p>
				<h2>第四条 付费会员资格的有关规定</h2>
				<p>4.1 付费会员服务仅限于申请帐号自行使用，且不能在不同的微融帐号之间转移。</p>
				<p>4.2 在已开通的付费会员有效期内，若您中途主动取消或终止付费会员资格的，将不会获得付费会员费用的退还。</p>
				<p>4.3 付费会员资格取消/终止后，您不再享有由微融提供的各项特权服务及增值服务，即不再享有付费会员服务。</p>
				<h2>第五条 付费会员使用规则</h2>
				<p>5.1 您确认：您是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，有能力对您使用付费会员服务的一切行为独立承担责任。若您不具备前述主体资格，微云公司在依据法律规定或本协议约定要求您承担责任时，有权向您的监护人或其他责任方追偿。若您是自然人，应向微云公司提供真实姓名、住址、电子邮箱、联系电话等信息；若您是法人或其他组织的，应提供名称、住址、联系人等信息。</p>
				<p>5.2 您应妥善保存有关帐号、密码，并对该帐号进行的所有活动和行为负责，禁止赠与、借用、租用、转让或售卖该帐号。您应自行负责妥善保管、使用、维护您在微融申请取得的帐号、帐号信息及帐号密码。非微云公司原因致使您帐号密码泄漏以及因您保管、使用、维护不当造成损失的，微云公司无须承担与此有关的任何责任。</p>
				<p>5.3 您理解并同意： 获取新口子业务中的贷款口子，为近4个月上线平台，若用户已申，微云公司不承担任何责任且不退还已收取的费用。</p>
				<p>5.4如您实施了下列行为之一，微云公司有完全的权利在不通知您的情况下，终止提供付费会员服务，并有权限制、冻结或终止与该服务相关联的微融帐号使用。微云公司无须给予任何补偿和退费，由此产生的责任由您自行独立承担。因此给微云公司或第三方造成损失的，您应负责全额赔偿：</p>
				<p>(1) 以营利为目的为自己或他人获得付费会员服务；</p>
				<p>(2) 将付费会员帐号以出租、出借、出售等任何形式提供给第三方使用；</p>
				<p>(3) 盗用他人微融帐号进行付费会员注册或使用；</p>
				<p>(4) 以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件或其它非正规方式获得付费会员服务；</p>
				<p>(5) 通过不正当手段或以违反诚实信用原则的行为获得付费会员服务。</p>
				<p>5.5 如发生下列任何一种情形，微云公司有权根据实际情况，在不通知您的情况下中断或终止向您提供的一项或多项或全部服务，由此产生的损失由您承担，微云公司无需给与任何补偿和退费。若因此给微云公司或第三方造成损失的，您应负责全额赔偿：</p>
				<p>(1) 您提供的个人资料不真实或与注册时信息不一致又未能提供合理证明；</p>
				<p>(2) 经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者微云公司根据自身的判断，认为您的行为涉嫌违反《微融服务条款》、本协议内容或微云公司不时公布的使用规则等内容，或涉嫌违反法律法规的规定的；</p>
				<p>(3) 您的行为干扰了微融任何部分或功能的正常运行；</p>
				<p>(4) 您未经微云公司允许，利用微融开展未经微云公司同意的行为，包括但不限于对通过微融获得的信息进行商业化活动，如附加广告、商业内容或链接等；</p>
				<p>(5) 您利用微融进行任何违法行为的。</p>
				<h2>第六条 责任声明</h2>
				<p>6.1 如果您行使本协议规定的权利而购买/接受微云公司以外的第三方商户提供的商品或服务，如因此发生纠纷的，您应向销售/提供该商品或服务的第三方商户主张权利，与微云公司无关。</p>
				<p>6.2 您须对您自身及您所邀请的宾客在参加微融组织的活动或使用由微融提供的各项优惠及增值服务时的实施的一切行为承担全部法律责任。</p>
				<p>6.3 微云公司不对您因第三方的行为或不作为造成的损失、不可抗力原因造成的损失承担任何责任，包括但不限于支付服务、网络接入服务、电信部门的通讯线路故障、通讯技术问题、网络、电脑故障、系统不稳定性、任意第三方的侵权行为等。</p>
				<p>6.4 您理解并同意，在使用付费会员服务的过程中，可能会遇到不可抗力等风险因素，使该服务发生中断。如出现上述情况，微云公司承诺将尽快与相关单位配合进行修复，但不承担由此对您造成的任何损失且不退还付费会员费用。</p>
				<h2>第七条 其他约定</h2>
				<p>7.1 服务中止、中断及终止：微云公司根据自身商业决策、政府行为、不可抗力等原因可能会选择中止、中断及终止付费会员服务。如有此等情形发生，微云公司会采取公告的形式通知您，但不承担由此对您造成的任何损失且不退还付费会员费用。</p>
				<p>7.2 法律与争议解决：本协议适用中华人民共和国的法律，并且排除一切冲突法规定的适用。如出现纠纷，您和微云公司一致同意将纠纷提交中国国际经济贸易仲裁委员会根据其现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对双方都有约束力。仲裁费用由败诉一方承担。</p>
				<p>7.3 微云公司不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响微云公司在将来行使该权利。</p>
				<p>7.4 自2017年8月1日起，新购买或者续费付费会员服务的用户，均适用本协议。2017年8月1日之前已购买付费会员服务的用户，在其2017年8月1日前购买订单关联的会员服务有效期内仍适用本协议公布之前的付费会员服务协议。</p>
				<p>7.5 如果您对本条款内容有任何疑问，请发送邮件至我们的客服邮箱：（weiyun@dinogame.cn）。</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/lib/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../static/js/lib/iscroll-min.js"></script>
	<script type="text/javascript">
		$(function(){
			//整个页面的滚动
			mainScroll();
			//阻止它默认事件
	        document.addEventListener("touchmove",function(e){
	            e.preventDefault();
	        });
			var mScroll;
			function mainScroll(){
			   	mScroll = new IScroll("#main",{
			   	   	preventDefault:true,
					scrollWheel:true,
					fadeScrollbar:true
			   	})
			}
		});
	</script>
</body>
</html> 